html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-image: linear-gradient(to top, #8a2be2, #ff0000);
  display: flex;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .container {
    display: flex;
    min-height: 86vh;
    max-width: 350px;
    flex-direction: row;
  }
  .container .main-container {
    display: flex;
    flex-direction: column-reverse;
    height: calc(86vh - 20px);
    justify-content: space-between;
    width: 100%;
  }
  .container .content-info {
    min-height: 40vh;
  }
  .container .settings {
    text-align: center;
    padding-bottom: 5px;
  }
  .container .settings form {
    padding: 5px;
  }
  .container .settings form div * {
    margin: 3.5px 7px;
  }
  .container .settings form p {
    font-size: 24px;
    font-weight: normal;
  }
  .container .settings form .settings__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .container .settings form .geolocation_container {
    flex-direction: row;
    justify-content: center;
  }
  .container .settings form .cities__not-diplay {
    display: none !important;
  }
  .container .settings form .geolocation {
    display: none !important;
  }
  .container .settings form .geolocation__display {
    display: flex !important;
    flex-direction: column !important;
  }
  .container .settings form #city, .container .settings form #input-date, .container .settings form #settings {
    font-size: 20px;
    background: bisque;
    outline: none;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
  }
  .container .settings form label {
    font-size: 24px;
  }
  .container .settings form #settings {
    font-size: 24px;
    padding: 0 17px;
    padding: 5px 25px;
    transition: background-color 1s;
  }
  .container .settings form #settings:hover {
    background-color: aquamarine;
  }
  .container .settings .button_details {
    background: bisque;
    bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 24px;
    margin: 0 50%;
    left: 0;
    padding: 0 17px;
    padding: 5px 25px;
    transform: translate(-50%);
    transition: background-color 1s;
  }
  .container .settings .button_details:hover {
    background-color: aquamarine;
  }
  p {
    font-size: 1em;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: column;
    min-height: 400px;
    max-width: none;
  }
  .container .main-container {
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
  }
  .container .main-container .content-info {
    width: 60%;
  }
  .container .main-container .settings {
    position: relative;
    text-align: center;
    width: 35%;
  }
  .container .main-container .settings form * {
    margin: 7px;
  }
  .container .main-container .settings form p {
    font-size: 14px;
  }
  .container .main-container .settings form .settings__container {
    display: flex;
    flex-direction: row;
  }
  .container .main-container .settings form #city {
    font-size: 13.333px;
  }
  .container .main-container .settings form #input-date {
    font-size: 13.333px;
  }
  .container .main-container .settings form label {
    font-size: 16px;
  }
  .container .main-container .settings .button_details {
    background: bisque;
    bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 24px;
    margin: 0 50%;
    position: absolute;
    left: 0;
    padding: 0 17px;
    padding: 5px 25px;
    transform: translate(-50%);
    transition: background-color 1s;
  }
  .container .main-container .settings .button_details:hover {
    background-color: aquamarine;
  }
  .container .graphic-container {
    background-color: aqua;
    border-radius: 15px;
    height: 250px;
    margin-top: 15px;
    width: 100%;
  }
  p {
    font-size: 1.5em;
    font-weight: bold;
  }
}
main {
  align-items: center;
  background-image: linear-gradient(to bottom, #8a2be2, #ff0000);
  border-radius: 25px;
  justify-content: space-between;
  padding: 15px;
  width: 600px;
}
main > div > div {
  background-color: lightgreen;
  border-radius: 15px;
}
main a {
  bottom: 15px;
  position: absolute;
}

.content-info {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.content-info > * {
  margin: 7px;
}/*# sourceMappingURL=style.css.map */